/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Base */

html, body {width: 100%;}

body {
	line-height: 1;
	font: 14px/140% Arial, Helvetica, sans-serif;
	background: #2d3134;
	color: #fff;
	width: 80%;
	margin: 0 auto;
}

ol, ul				{ list-style: none; }

blockquote, q		{ quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after	{ content: '';content: none; }

table				{ border-collapse: collapse; border-spacing: 0; }

hr					{border: solid; border-width: 2px 0 0; clear: both; margin: 30px 0px; }

h1					{ font-size: 30px; font-weight: bold; line-height: 35px; margin-top: 40px; margin-bottom: 20px;}

h2					{ font-size: 20px; font-weight: bold; line-height: 55px;}

h3					{ font-size: 15px; font-weight: normal; line-height: 55px;}

a,
a:hover,
a:visited			{ color: #fff; margin: 0px; }

p a.btn,
p a.btn:hover,
p a.btn:visited,
p a.btn2,
p a.btn2:hover,
p a.btn2:visited	{ margin: 10px; }

span				{ margin-right: 15px; color: #fff; text-decoration: none; }

span:hover			{ text-decoration: underline; cursor: pointer }

span: visited		{ text-decoration: none;}




.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	font-family: Arial, sans-serif;
	padding: 5px 10px;
	position: relative;
	z-index: 20;
	display: block;
	height: 40px;
	cursor: pointer;
	color: #fff;
	line-height: 40px;
	font-size: 15px;
	background: rgba(255, 255, 255, 0.1);
}
.ac-container input{
	display: none;
}
.ac-container article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;

}
.ac-container input:checked ~ article.ac-dim{
	height: 100%;
	padding: 5px 0px;
}






/* #Misc
================================================== */

	.alwaysontop {position: fixed; top: 0px; right: 10%; background: #000; height: 40px; line-height: 40px; padding-left: 15px;	z-index: 100;}
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	
@media screen and (max-width: 768px) {
	body {margin-top: 50px;}
	h1 {margin-top: 70px;}
	.alwaysontop {position: absolute; top: 0px; width: 80%; padding-left: 0px;}
	.bgchange {margin-left: 15px;}
}
